@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.main-container {
    display: flex;
    justify-content: center;
    width: 600px;
}

main {
    text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: 900;
}
