@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.main-outer {
    display: flex;
    justify-content: center;
}

.main-inner {
    width: 800px;
}

main {
    text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 50pt;
    font-weight: 900;
}
